<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="bootstrap admin template">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="apple-touch-icon" href="{{asset('assets/images/apple-touch-icon.png') }}" />
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{asset('global/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{asset('global/css/bootstrap-extend.min.css') }}">
        <link rel="stylesheet" href="{{asset('assets/css/site.min.css') }}">
    {% block stylesheets %}{% endblock %}

    <!-- Plugins -->
{% block pluginscss %}{% endblock %}
<link rel="stylesheet" href="{{asset('global/vendor/waves/waves.css') }}">
<link rel="stylesheet" href="{{asset('global/fonts/material-design/material-design.min.css') }}">
<link rel="stylesheet" href="{{asset('global/fonts/brand-icons/brand-icons.min.css') }}">
<link rel="stylesheet" href="{{ asset('custom/css/toastr.css') }}"/>
<link rel="stylesheet" href="{{ asset('custom/css/mystyle.css') }}"/>
<link rel="stylesheet" href="{{ asset('global/vendor/datatables-bootstrap/dataTables.bootstrap.css') }}"/>
<link rel="stylesheet" href="{{ asset('global/vendor/datatables-fixedheader/dataTables.fixedHeader.css') }}"/>
<link rel="stylesheet" href="{{ asset('global/vendor/datatables-responsive/dataTables.responsive.css') }}"/>
<link rel="stylesheet" href="{{ asset('assets/examples/css/tables/datatable.css') }}"/>

<link rel="stylesheet" href="{{ asset('custom/css/datedropper.css') }}"/>
<link rel="stylesheet" href="{{ asset('custom/css/timedropper.css') }}"/>
<!-- Fonts -->
{% block fontscss %}
    <link rel="stylesheet" href="{{ asset('global/fonts/font-awesome/font-awesome.css') }}"/>
{% endblock %}
<!--[if lt IE 9]>
  <script src="{{asset('global/vendor/html5shiv/html5shiv.min.js') }}"></script>
  <![endif]-->
<!--[if lt IE 10]>
  <script src="{{asset('global/vendor/media-match/media.match.min.js') }}"></script>
  <script src="{{asset('global/vendor/respond/respond.min.js') }}"></script>
  <![endif]-->
<!-- Scripts -->
<script src="{{asset('global/vendor/modernizr/modernizr.js') }}"></script>
<script src="{{asset('global/vendor/breakpoints/breakpoints.js') }}"></script>
<script>
    Breakpoints();
</script>
</head>
<body>
{% block root %}{% endblock %}



<!-- Core  -->
<script src="{{asset('global/vendor/jquery/jquery.js') }}"></script>
<script src="{{asset('global/vendor/bootstrap/bootstrap.js') }}"></script>
<script src="{{asset('global/vendor/asscrollable/jquery.asScrollable.all.js') }}"></script>
<script src="{{asset('global/vendor/waves/waves.js') }}"></script>
{% block javascripts %}{% endblock %}


<!-- bosoft -->
<script src="{{ asset('custom/js/toastr.min.js') }}"></script>
{{ include(":sections_app:flashMessages.html.twig") }}




<!-- Plugins -->
<script src="{{asset('global/vendor/switchery/switchery.min.js') }}"></script>
<script src="{{asset('global/vendor/screenfull/screenfull.js') }}"></script>
{% block pluginsjs %}{% endblock %}
<script src="{{ asset('global/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('global/vendor/datatables-fixedheader/dataTables.fixedHeader.js') }}"></script>
<script src="{{ asset('global/vendor/datatables-bootstrap/dataTables.bootstrap.js') }}"></script>
<script src="{{ asset('global/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
<script src="{{ asset('global/vendor/datatables-tabletools/dataTables.tableTools.js') }}"></script>

<!-- Scripts -->
<script src="{{asset('global/js/core.js')}}"></script>
<script src="{{asset('assets/js/site.js')}}"></script>
<script src="{{asset('assets/js/sections/menu.js') }}"></script>
<script src="{{asset('assets/js/sections/menubar.js') }}"></script>
<script src="{{asset('assets/examples/js/dashboard/v1.js') }}"></script>

{% block scriptsjs %}{% endblock %}
<script src="{{ asset('global/js/components/datatables.js') }}"></script>
<script src="{{ asset('assets/examples/js/tables/datatable.js') }}"></script>
<script src="{{ asset('assets/examples/js/forms/advanced.js')}}"></script>

<script src="{{ asset('custom/js/datedropper.js') }}"></script>
<script src="{{ asset('custom/js/timedropper.js') }}"></script>


<!-- pour les requetes ajax -->
<script src="{{ asset('custom/js/mystyle.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

</body>
</html>
