{% extends 'base.html.twig' %}

{% block pluginscss %}
    <link rel="stylesheet" href="{{ asset('global/vendor/datatables-bootstrap/dataTables.bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('global/vendor/datatables-fixedheader/dataTables.fixedHeader.css') }}"/>
    <link rel="stylesheet" href="{{ asset('global/vendor/datatables-responsive/dataTables.responsive.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/examples/css/tables/datatable.css') }}"/>
{% endblock %}

{% block body %}
    {% include("sections_app/stats_disponibilite.html.twig") %}
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                 <a href="{{path('vehicule_new')}}" class="btn btn-floating btn-info btn-sm waves-effect waves-float waves-light">
                    <i class="icon md-plus" style="color:white;font:bold;" ></i>
                </a>
            </div>
            <h3 class="panel-title">Vehicules</h3>
        </header>
        <div class="panel-body">
            <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Immatriculation</th>
                        <th>Carte grise</th>
                        <th>Mise en circulation</th>
                        <th>Numéro chassis</th>
                        <th>Poids</th>
                        <th>Kilomètrage</th>
                        <th>Disponibilité</th>
                    </tr>
                </thead>
                <tfoot>
                   <tr>
                       <th>Actions</th>
                       <th>Immatriculation</th>
                        <th>Carte grise</th>
                        <th>Mise en circulation</th>
                        <th>Numéro chassis</th>
                        <th>Poids</th>
                        <th>Kilomètrage</th>
                        <th>Disponibilité</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for vehicule in vehicules %}
                        <tr>
                            <td>
                                <a href="{{ path('vehicule_edit', { 'id': vehicule.id }) }}">
                                    <i class="icon md-edit bg-green-600 white icon-circle" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('vehicule_show', { 'id': vehicule.id }) }}">
                                    <i class="icon md-eye bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{ vehicule.immatriculation }}</td>
                            <td>{{ vehicule.numeroCarteGrise }}</td>
                            <td>{% if vehicule.dateMiseEnCirculation %}{{ vehicule.dateMiseEnCirculation|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ vehicule.numeroChassis }}</td>
                            <td>{{ vehicule.poids }}</td>
                            <td>{{ vehicule.kilometrage }}</td>
                            <td>
                                {% if vehicule.disponibilite == "Indisponible" %}
                                    <span class="label label-danger">
                                            <a href="{{ path("vehicule_recherche_utilisation", {'id': vehicule.id}) }}">{{ vehicule.disponibilite }}</a>
                                    </span>
                                {% endif %}
                                {% if vehicule.disponibilite == "Disponible" %}
                                    <span class="label label-success">
                                        <a href="{{ path("utilisation_vehicule_attente", {'id': vehicule.id}) }}">{{ vehicule.disponibilite }}</a>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
                
{% endblock %}

{# block javascripts %}

{% endblock #}

{% block pluginsjs %}
    <script src="{{ asset('global/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('global/vendor/datatables-fixedheader/dataTables.fixedHeader.js') }}"></script>
    <script src="{{ asset('global/vendor/datatables-bootstrap/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('global/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('global/vendor/datatables-tabletools/dataTables.tableTools.js') }}"></script>
{% endblock %}

{% block scriptsjs %}
    <script src="{{ asset('global/js/components/datatables.js') }}"></script>
    <script src="{{ asset('assets/examples/js/tables/datatable.js') }}"></script>
{% endblock %}