{% extends 'base.html.twig' %}


{% block body %}
    {% include("sections_app/stats_disponibilite.html.twig") %}
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="{{path('vehicule_new')}}" class="btn btn-floating btn-info btn-sm waves-effect waves-float waves-light">
                    <i class="icon md-plus" style="color:white;font:bold;" ></i>
                </a>
                <a href="{{path('vehicule_index')}}" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                    <i class="icon md-refresh" style="color:white;font:bold;" ></i>
                </a>
            </div>
            <h3 class="panel-title">Véhicules</h3>
        </header>
        <div class="panel-body">
            <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Immatriculation</th>
                        <th>Marque</th>
                        <th>Carte grise</th>
                        <th>Mise en circulation</th>
                        <th>Numéro chassis</th>
                        <th>Poids</th>
                        <th>Kilomètrage</th>
                        <th>Disponibilité</th>
                    </tr>
                </thead>
                <tfoot>
                   <tr>
                       <th>Actions</th>
                       <th>Immatriculation</th>
                       <th>Marque</th>
                        <th>Carte grise</th>
                        <th>Mise en circulation</th>
                        <th>Numéro chassis</th>
                        <th>Poids</th>
                        <th>Kilomètrage</th>
                        <th>Disponibilité</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for vehicule in vehicules %}
                        <tr>
                            <td>
                                <a href="{{ path('vehicule_edit', { 'id': vehicule.id }) }}">
                                    <i class="icon md-edit bg-green-600 white icon-circle" aria-hidden="true"></i>
                                </a>
                                <a href="{{ path('vehicule_show', { 'id': vehicule.id }) }}">
                                    <i class="icon md-eye bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>{{ vehicule.immatriculation }}</td>
                            <td>{{ vehicule.marque }}</td>
                            <td>{{ vehicule.numeroCarteGrise }}</td>
                            <td>{% if vehicule.dateMiseEnCirculation %}{{ vehicule.dateMiseEnCirculation|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ vehicule.numeroChassis }}</td>
                            <td>{{ vehicule.poids }}</td>
                            <td>{{ vehicule.kilometrage }}</td>
                            <td>
                                {% if vehicule.disponibilite == "Indisponible" %}
                                            <a href="{{ path("vehicule_recherche_utilisation", {'id': vehicule.id}) }}"><i class="icon md-car bg-red-600 white padding-5" aria-hidden="true"></i> </a>
                                {% endif %}
                                {% if vehicule.disponibilite == "Disponible" %}
                                        <a href="{{ path("utilisation_vehicule_attente", {'id': vehicule.id}) }}"><i class="icon md-car bg-green-600 white padding-5" ></i> </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
                
{% endblock %}

{# block javascripts %}

{% endblock #}
