{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trajet list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieudepart</th>
                <th>Lieuarrivee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trajet in trajets %}
            <tr>
                <td><a href="{{ path('trajet_show', { 'id': trajet.id }) }}">{{ trajet.id }}</a></td>
                <td>{{ trajet.lieuDepart }}</td>
                <td>{{ trajet.lieuArrivee }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trajet_show', { 'id': trajet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trajet_edit', { 'id': trajet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trajet_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
